* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #24272e;
}
#main {
  width: 100%;
  height: 100%;
  background-color: #24272e;
}

/* --------nav section--------- */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 35px;
}
#nav h3 {
  color: #ffff;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
}
#nav h3 span {
  color: #31ffa5;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
#nav-option a {
  padding: 6px;
  margin-right: 32px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: #fff;
}
#nav-option a:hover {
  cursor: pointer;
  color: #31ffa5;
}
#nav-option button {
  background-color: #ffffff;
  color: #000;
  font-size: 18px;
  padding: 10px 14px;
  letter-spacing: 1.5px;
  font-weight: 500;
  border-radius: 2px;
  border: none;
}
#nav-option button:hover {
  cursor: pointer;
  background-color: #31ffa5;
}
/* ------------- main section------------ */
#main-section {
  display: flex;
  justify-content: space-between;
  padding: 65px 50px;
  height: 89%;
  width: 100%;
}
#text-section {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 50%;
}
#text-section h1 {
  font-size: 42px;
  font-weight: 460;
  line-height: 1.4;
  letter-spacing: 1.5px;
}
#text-section code {
  font-size: 22px;
  line-height: 1;
  letter-spacing: 1.1px;
  font-weight: 500;
  color: #31ffa5;
}
#text-section code span {
  color: white;
}
#text-section p {
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.9;
  width: 80%;
  letter-spacing: 1.1px;
  font-weight: 500;
}
#text-section button {
  width: fit-content;
  padding: 18px 24px;
  font-size: 18px;
  font-weight: 600;
  background-color: #27ffa1;
  letter-spacing: 1.2px;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  cursor: pointer;
}
#link {
  display: flex;
  align-items: center;
  gap: 64px;
  width: 100%;
  height: 100%;
}
#link a {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
#link a:hover {
  color: #27ffa1;
  opacity: 1;
}
#main-section img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
/* -------- icon float ------ */
#scroll {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  animation: infinite 16s linear infinite;
}
@keyframes infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.container img {
  height: 130px;
  width: 130px;
  padding: 1vw;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
  cursor: pointer;
}
/* --------- about ------- */
#about {
  display: flex;
  width: 100%;
  background-color: #24272e;
  margin-bottom: 30px;
}
#about-left {
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 100%;
  width: 40%;
  padding: 40px 50px;
}
#about-left h1 {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 1.1px;
}
#about-left p {
  width: 75%;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.7;
  color: #31ffa5;
  font-weight: 500;
}
#about-right {
  height: 100%;
  width: 60%;
  padding: 45px 10px;
  padding-right: 50px;
}
#about-right #line {
  height: 5px;
  width: 100%;
  background-color: #27ffa1;
  margin-bottom: 50px;
}
#about-right p {
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
#ar-text {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
#ar-point {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 26px;
}
#ar-point h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
}
#about-right button {
  width: fit-content;
  padding: 10px 15px;
  letter-spacing: 1.1px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}
/* ------ Work Section ------ */
#work {
  background-color: #24272e;
  padding: 0px 50px;
}
.sm-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sm-text h3 {
  font-size: 26px;
  letter-spacing: 1.1px;
  font-weight: 500;
}
.sm-text p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.4;
  width: 80%;
}
.sm-text a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 10px 12px;
  border-radius: 2px;
  margin-top: 10px;
  background-color: #31ffa5;
  width: fit-content;
}
.project-section {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #31ffa5;
}
#work video {
  border-radius: 10px;
  height: 270px;
}
#work h1 {
  font-size: 38px;
  font-weight: 500;
  padding: 15px 0px;
  letter-spacing: 1.1px;
}
.sm-text1 {
  padding-left: 200px;
}
/* --------- Contact Us ------ */
#contact {
  display: flex;
  gap: 30px;
  width: 100%;
  padding: 10px 50px;
  padding-bottom: 30px;
}
#Contact-head {
  padding: 0px 50px;
  margin: 50px 0px;
  width: 50%;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
#c-img {
  width: 50%;
  background: url(https://colorlib.com/etc/cf/ContactFrom_v12/images/img-01.png);
  background-repeat: no-repeat;
  background-position: center;
}
#c-input {
  width: 50%;
}
#c-input form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#c-input form label {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.1px;
}
#c-input form input {
  border: none;
  background-color: #24272e;
  border-bottom: 2px solid #31ffa5;
  font-size: 18px;
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
}
#c-input form input:focus,
textarea:focus {
  border: none;
  outline: none;
  color: #fff;
  /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); Optional, to add a focus highlight */
  border-bottom: 2px solid #31ffa5;
}
#message {
  margin: 20px 0px;
  background-color: #24272e;
  border: 2px solid #27ffa1;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
#c-input button {
  width: fit-content;
  padding: 10px 12px;
  background-color: #27ffa1;
  color: black;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: 1.1px;
}
